.catolig {
  margin-bottom: 50px;
  &__div {
    display: flex;
    align-items: center;
    gap: 90px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 20px;
    padding: 19px 33px 25px 32px;
    margin-bottom: 30px;
  }
  &__main-div {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__p {
    font-size: 20px;
    line-height: 22px;
    color: #454545;
    margin-bottom: 149px;
  }
  &__text {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  &__p2 {
    font-size: 14px;
    line-height: 15.4px;
    color: #454545;
  }
}
@media (max-width: 1300px) {
  .catolig {
    &__main-div {
      justify-content: space-evenly;
    }
  }
}
@media (max-width: 700px) {
  .catolig {
    display: block;
    width: 385px;

    &__div-2 {
      display: none;
    }
    &__p {
      margin-bottom: 118px;
    }
    &__main-img {
      width: 81px;
      height: 92px;
      position: absolute;
      top: 50px;
      left: 35px;
    }
    &__main-img-2 {
      left: 215px;
    }
    &__main-div {
      width: 123px;
      gap: 20px;
      display: flex;
      flex-wrap: nowrap;
      position: relative;
    }
    &__div {
      width: 160px;
    }
    &__p2 {
      width: 50px;
    }
  }
}
