* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteaner {
  width: 1304px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.conteaner2 {
  max-width: 1414px;
  margin: 0 auto;
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-h2 {
  font-size: 40px;
  line-height: 54.64px;
  color: #454545;
}
.main-btn {
  border: 1px solid #454545;
  border-radius: 100px;
  padding: 14px 47px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  font-size: 16px;
  line-height: 21.86px;
  color: #454545;
}
.img {
  margin-top: 126px;
  margin-bottom: 50px;
  padding-left: 250px;
  text-align: center;
}
.p-text {
  text-align: center;
  font-size: 24px;
  line-height: 33.6px;
  color: #454545;
}
.btn {
  border: none;
  border-radius: 100px;
  background-color: #454545;
  color: #ffffff;
  padding: 14px 62px;
  margin-top: 60px;
  margin-left: 533px;
  margin-bottom: 50px;
}
@media (max-width: 1300px) {
  .conteaner {
    width: 1220px;
    margin: 0 auto;
    padding: 15px;
  }
}
@media (max-width: 700px) {
  .conteaner {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 700px) {
  .conteaner2 {
    width: 364px;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 700px) {
  .main-btn {
    position: absolute;
    top: 1050px;
    width: 325px;
    padding-left: 105px;
  }
}
